label {
  margin-top: 1.5em;
  display: block;
}

select {
  cursor: pointer;
}

input,
select {
  display: block;
  margin: 0.4em auto;
  height: 2em;
  border-radius: 3px;
  padding: 0 5px;
  border: 1px solid black;
  outline: none;
  background: #f5f5f5;
}

.StepContent-title {
  color: #714d0a;
  margin: 1em 0 2em;
  text-transform: uppercase;
}

.CardList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
}

.CardItem {
  align-self: center;
  min-width: 300px;
  display: inline-block;
  border: 1px solid #969696;
  border-radius: 3px;
  margin: 0.5em;
  padding: 1em;
  cursor: pointer;
  text-align: left;
  font-size: 80%;
  background: #e0e1ea;
  box-shadow: 1px 1px 6px -1px #848484;
}

@media screen and (min-width: 1100px) {
  .CardList {
    flex-direction: row;
    flex-wrap: nowrap;
  }
  .CardItem {
    align-self: start;
  }
}

.CardItem:hover {
  border: 1px solid #393e7d;
  box-sizing: content-box;
}

.CardItem.selected {
  align-self: center;
  padding: 1.5em 1em 3em;
  border: 1px solid #9e9e9e;
  background: #bcbfdc;
}

.CardItem-title {
  font-size: 120%;
  text-transform: uppercase;
  color: #252524;
}

.CardItem.selected .CardItem-title {
  color: #b9b8b0;
  text-shadow: 1px 1px #131313;
}

.CardItem .CardItem-details {
  color: #3c2014;
  opacity: 0;
  display: none;
  transition: opacity 0.3s ease;
}

.CardItem .CardItem-details li {
  margin-left: 2em;
}

.CardItem.selected .CardItem-details {
  margin-top: 1em;
  display: block;
  opacity: 1;
}

.CardItem:not(.selected) .CardItem-details {
  transition: opacity 0s ease 0s;
}

.CardList-selection-result {
  width: 100%;
  margin-top: 1em;
  font-size: 90%;
}

.Group-form label {
  margin-top: 0;
}

.Group-form {
  margin-top: 2em;
}
