label {
  margin-top: 1.5em;
  display: block;
}

select {
  cursor: pointer;
}

input,
select {
  display: block;
  margin: 0.4em auto;
  height: 2em;
  border-radius: 3px;
  padding: 0 5px;
  border: 1px solid black;
  outline: none;
  background: #f5f5f5;
}

.StepContent-title {
  color: #714d0a;
  margin: 1em 0 2em;
  text-transform: uppercase;
}

.CardList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.CardItem {
  align-self: start;
  min-width: 300px;
  display: inline-block;
  border: 1px solid #969696;
  border-radius: 3px;
  margin: 0.5em;
  padding: 1em;
  cursor: pointer;
  text-align: left;
  font-size: 80%;
}

.CardItem:hover {
  border: 1px solid #f38106;
  box-sizing: content-box;
  box-shadow: 1px 2px 4px #848484;
}

.CardItem.selected {
  border: 1px solid #f38106;
  background: #fff6f3;
}

.CardItem-title {
  font-size: 120%;
  text-transform: uppercase;
  color: #714d0a;
}

.CardItem .CardItem-details {
  margin-bottom: 1em;
  display: none;
}

.CardItem.selected .CardItem-details {
  display: block;
}

.CardList-selection-result {
  width: 100%;
  margin-top: 1em;
  font-size: 90%;
}
